$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * (-.25),
);
.px-6 {
    padding-left: ($spacer * 3.5) !important;
    padding-right: ($spacer * 3.5) !important;
}
.px-7 {
    padding-left: ($spacer * (1.9)) !important;
    padding-right: ($spacer * 1.9) !important;
}
.px-custom{
    padding-left: ($spacer * (.75)) !important;
    padding-right: ($spacer * .75) !important;
}
.p-45{
    padding-left: ($spacer * (1.20)) !important;
    padding-right: ($spacer * 1.20) !important;
    padding-top: ($spacer * 1.50) !important;
    padding-bottom: ($spacer * 1.4) !important;
}
.px-35{
    padding-left: ($spacer * (.8)) !important;
    padding-right: ($spacer * .8) !important;
}